In [1]:
import os
import sys
sys.path.append(os.path.dirname(os.getcwd()))
sys.path.append(os.path.dirname(os.path.dirname(os.getcwd())))
import jupyter_helper
from keras.backend import clear_session
import pandas as pd
import numpy as np
from LSTM_for_Stock.data_processor import Wrapper_default
from LSTM_for_Stock.data_processor import Normalize

Using TensorFlow backend.

## 测试环境

In [2]:
jupyter_helper.print_system_info()

OS Name: b'Microsoft Windows Server 2012 R2 Standard'
OS Version: 6.3.9600 9600
CPU: Intel(R) Core(TM) i3-2120 CPU @ 3.30GHz
RAM: 11.937084197998047 GB
Graphics Card: NVIDIA GeForce GTX 750 Ti

In [3]:
report={}
report['acc']=[]
report['mae']=[]
report['loss']=[]
report['time']=[]

In [4]:
for i in range(1, 6):
    ls = [{'type': 'cudnnlstm', 'units': 128},
          {'type': 'dense'}]
    h = jupyter_helper.do(layers=ls)
    s = jupyter_helper.show_history(h, show_plt=False)
    clear_session()
#     report['window'].append(i)
    report['acc'].append(s['score'][2])
    report['mae'].append(s['score'][1])
    report['loss'].append(s['score'][0])
    report['time'].append(h['end']-h['start'])

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
cu_dnnlstm_1 (CuDNNLSTM)     (None, 128)               72704
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 129
=================================================================
Total params: 72,833
Trainable params: 72,833
Non-trainable params: 0
_________________________________________________________________
Net time using :  175.9858913421631  secs.
489/489 [==============================] - ETA:  - ETA:  - ETA:  - ETA:  - ETA:  - ETA:  - 0s 706us/step
Score:
 loss:0.026505070633744413
 mean_absolute_error:0.01966032427726104
 acc:0.002044989775051125
Slope Day1:1.0081726395306103
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
cu_dnnlstm_1 (CuDNNLSTM)     (None, 128)               72704
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 129
=================================================================
Total params: 72,833
Trainable params: 72,833
Non-trainable params: 0
_________________________________________________________________
Net time using :  161.87527561187744  secs.
489/489 [==============================] - ETA:  - ETA:  - ETA:  - ETA:  - ETA:  - ETA:  - ETA:  - 0s 794us/step
Score:
 loss:0.02859288520333957
 mean_absolute_error:0.022433111638379244
 acc:0.002044989775051125
Slope Day1:0.9935798204832518
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
cu_dnnlstm_1 (CuDNNLSTM)     (None, 128)               72704
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 129
=================================================================
Total params: 72,833
Trainable params: 72,833
Non-trainable params: 0
_________________________________________________________________
Net time using :  161.64285731315613  secs.
489/489 [==============================] - ETA:  - ETA:  - ETA:  - ETA:  - ETA:  - ETA:  - ETA:  - 0s 751us/step
Score:
 loss:0.028086287706541868
 mean_absolute_error:0.021900095959748227
 acc:0.002044989775051125
Slope Day1:0.994955094977753
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
cu_dnnlstm_1 (CuDNNLSTM)     (None, 128)               72704
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 129
=================================================================
Total params: 72,833
Trainable params: 72,833
Non-trainable params: 0
_________________________________________________________________
Net time using :  162.5865375995636  secs.
489/489 [==============================] - ETA:  - ETA:  - ETA:  - ETA:  - ETA:  - 0s 634us/step
Score:
 loss:0.028985721034384456
 mean_absolute_error:0.022885747227231173
 acc:0.002044989775051125
Slope Day1:0.9823079997887257
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
cu_dnnlstm_1 (CuDNNLSTM)     (None, 128)               72704
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 129
=================================================================
Total params: 72,833
Trainable params: 72,833
Non-trainable params: 0
_________________________________________________________________
Net time using :  161.28285598754883  secs.
489/489 [==============================] - ETA:  - ETA:  - ETA:  - ETA:  - ETA:  - ETA:  - 0s 726us/step
Score:
 loss:0.029114286908556105
 mean_absolute_error:0.02299255667471447
 acc:0.002044989775051125
Slope Day1:0.9815924223048231

### 报告

In [5]:
pd.DataFrame(report).describe()

            acc      loss       mae        time
count  5.000000  5.000000  5.000000    5.000000
mean   0.002045  0.028257  0.021974  164.674684
std    0.000000  0.001058  0.001364    6.341075
min    0.002045  0.026505  0.019660  161.282856
25%    0.002045  0.028086  0.021900  161.642857
50%    0.002045  0.028593  0.022433  161.875276
75%    0.002045  0.028986  0.022886  162.586538
max    0.002045  0.029114  0.022993  175.985891